# Demonstrating true strength of FireDucks in Query planning and optimization

The [TPC-H](https://www.tpc.org/tpch/) is a decision support benchmark that consists of a suite of business-oriented ad-hoc queries and concurrent data modifications. We will use [Query-3](https://www.tpc.org/TPC_Documents_Current_Versions/pdf/TPC-H_v3.0.1.pdf#page=33) in this demonstration that deals with three large tables, namely `lineitem`, `customer`, and `orders` with complex join, gorupby, sort etc.

##  Preparing Data (Scale Factor: 10)

In [1]:
!pip install -U fireducks pydantic pydantic_settings linetimer

Requirement already satisfied: fireducks in /home/mp98a/sourav/miniconda3/envs/rapids-24.12/lib/python3.11/site-packages (1.1.4)
Requirement already satisfied: pydantic in /home/mp98a/sourav/miniconda3/envs/rapids-24.12/lib/python3.11/site-packages (2.10.3)
Requirement already satisfied: pydantic_settings in /home/mp98a/sourav/miniconda3/envs/rapids-24.12/lib/python3.11/site-packages (2.7.0)
Requirement already satisfied: linetimer in /home/mp98a/sourav/miniconda3/envs/rapids-24.12/lib/python3.11/site-packages (0.1.5)
Requirement already satisfied: firefw==1.1.4 in /home/mp98a/sourav/miniconda3/envs/rapids-24.12/lib/python3.11/site-packages (from fireducks) (1.1.4)
Requirement already satisfied: pandas<2.3.0,>=1.5.3 in /home/mp98a/sourav/miniconda3/envs/rapids-24.12/lib/python3.11/site-packages (from fireducks) (2.2.3)
Requirement already satisfied: pyarrow<18.2,>=18.1 in /home/mp98a/sourav/miniconda3/envs/rapids-24.12/lib/python3.11/site-packages (from fireducks) (18.1.0)
Requirement already satisfied: annotated-types>=0.6.0 in /home/mp98a/sourav/miniconda3/envs/rapids-24.12/lib/python3.11/site-packages (from pydantic) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.1 in /home/mp98a/sourav/miniconda3/envs/rapids-24.12/lib/python3.11/site-packages (from pydantic) (2.27.1)
Requirement already satisfied: typing-extensions>=4.12.2 in /home/mp98a/sourav/miniconda3/envs/rapids-24.12/lib/python3.11/site-packages (from pydantic) (4.12.2)
Requirement already satisfied: python-dotenv>=0.21.0 in /home/mp98a/sourav/miniconda3/envs/rapids-24.12/lib/python3.11/site-packages (from pydantic_settings) (1.0.1)
Requirement already satisfied: numpy>=1.23.2 in /home/mp98a/sourav/miniconda3/envs/rapids-24.12/lib/python3.11/site-packages (from pandas<2.3.0,>=1.5.3->fireducks) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/mp98a/sourav/miniconda3/envs/rapids-24.12/lib/python3.11/site-packages (from pandas<2.3.0,>=1.5.3->fireducks) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/mp98a/sourav/miniconda3/envs/rapids-24.12/lib/python3.11/site-packages (from pandas<2.3.0,>=1.5.3->fireducks) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/mp98a/sourav/miniconda3/envs/rapids-24.12/lib/python3.11/site-packages (from pandas<2.3.0,>=1.5.3->fireducks) (2024.2)
Requirement already satisfied: six>=1.5 in /home/mp98a/sourav/miniconda3/envs/rapids-24.12/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas<2.3.0,>=1.5.3->fireducks) (1.17.0)

In [2]:
!git clone https://github.com/fireducks-dev/polars-tpch.git

Cloning into 'polars-tpch'...
remote: Enumerating objects: 1913, done.
remote: Counting objects: 100% (522/522), done.
remote: Compressing objects: 100% (172/172), done.
remote: Total 1913 (delta 425), reused 358 (delta 350), pack-reused 1391 (from 2)
Receiving objects: 100% (1913/1913), 651.48 KiB | 7.85 MiB/s, done.
Resolving deltas: 100% (1283/1283), done.

In [3]:
!mkdir -p polars-tpch/data/tables/scale-10.0
!cd polars-tpch/tpch-dbgen; make; ./dbgen -s 10; mv *.tbl ../data/tables/scale-10.0

gcc -g -DDBNAME=\"dss\" -DLINUX -DVECTORWISE -DTPCH -DRNG_TEST -D_FILE_OFFSET_BITS=64   -c -o build.o build.c
In file included from build.c:45:
build.c: In function ‘mk_time’:
dss.h:488:14: warning: format ‘%d’ expects argument of type ‘int’, but argument 3 has type ‘long int’ []8;;https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html#index-Wformat=-Wformat=]8;;]
  488 | sprintf(tgt, "19%02d-%02d-%02d", yr, mn, dy)
      |              ^~~~~~~~~~~~~~~~~~
build.c:420:9: note: in expansion of macro ‘PR_DATE’
  420 |         PR_DATE(t->alpha, y, m,
      |         ^~~~~~~
dss.h:488:20: note: format string is defined here
  488 | sprintf(tgt, "19%02d-%02d-%02d", yr, mn, dy)
      |                 ~~~^
      |                    |
      |                    int
      |                 %02ld
dss.h:488:14: warning: format ‘%d’ expects argument of type ‘int’, but argument 4 has type ‘long int’ []8;;https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html#index-Wformat=-Wformat=]8;;]
  488 | sprintf(tgt, "19%02d-%02d-%02d", yr, mn, dy)
      |              ^~~~~~~~~~~~~~~~~~
build.c:420:9: note: in expansion of macro ‘PR_DATE’
  420 |         PR_DATE(t->alpha, y, m,
      |         ^~~~~~~
dss.h:488:25: note: format string is defined here
  488 | sprintf(tgt, "19%02d-%02d-%02d", yr, mn, dy)
      |                      ~~~^
      |                         |
      |                         int
      |                      %02ld
dss.h:488:14: warning: format ‘%d’ expects argument of type ‘int’, but argument 5 has type ‘long int’ []8;;https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html#index-Wformat=-Wformat=]8;;]
  488 | sprintf(tgt, "19%02d-%02d-%02d", yr, mn, dy)
      |              ^~~~~~~~~~~~~~~~~~
build.c:420:9: note: in expansion of macro ‘PR_DATE’
  420 |         PR_DATE(t->alpha, y, m,
      |         ^~~~~~~
dss.h:488:30: note: format string is defined here
  488 | sprintf(tgt, "19%02d-%02d-%02d", yr, mn, dy)
      |                           ~~~^
      |                              |
      |                              int
      |                           %02ld
gcc -g -DDBNAME=\"dss\" -DLINUX -DVECTORWISE -DTPCH -DRNG_TEST -D_FILE_OFFSET_BITS=64   -c -o driver.o driver.c
driver.c: In function ‘gen_tbl’:
driver.c:368:62: warning: format ‘%ld’ expects argument of type ‘long int’, but argument 3 has type ‘long long int’ []8;;https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html#index-Wformat=-Wformat=]8;;]
  368 |                        printf("\nSeeds for %s at rowcount %ld\n", tdefs[tnum].comment, i);
      |                                                           ~~^                          ~
      |                                                             |                          |
      |                                                             long int                   long long int
      |                                                           %lld
driver.c: In function ‘partial’:
driver.c:428:67: warning: format ‘%d’ expects argument of type ‘int’, but argument 4 has type ‘long int’ []8;;https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html#index-Wformat=-Wformat=]8;;]
  428 |           fprintf (stderr, "\tStarting to load stage %d of %d for %s...",
      |                                                            ~^
      |                                                             |
      |                                                             int
      |                                                            %ld
  429 |                   s, children, tdefs[tbl].comment);
      |                      ~~~~~~~~
      |                      |
      |                      long int

driver.c: In function ‘main’:
driver.c:754:59: warning: format ‘%d’ expects argument of type ‘int’, but argument 3 has type ‘long int’ []8;;https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html#index-Wformat=-Wformat=]8;;]
  754 |                                 "Generating update pair #%d for %s",
      |                                                          ~^
      |                                                           |
      |                                                           int
      |                                                          %ld
  755 |                                 upd_num + 1, tdefs[ORDER_LINE].comment);
      |                                 ~~~~~~~~~~~
      |                                         |
      |                                         long int
gcc -g -DDBNAME=\"dss\" -DLINUX -DVECTORWISE -DTPCH -DRNG_TEST -D_FILE_OFFSET_BITS=64   -c -o bm_utils.o bm_utils.c
bm_utils.c: In function ‘tbl_open’:
bm_utils.c:409:67: warning: ‘%s’ directive writing up to 255 bytes into a region of size 231 []8;;https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html#index-Wformat-overflow=-Wformat-overflow=]8;;]
  409 |                   sprintf(prompt, "Do you want to overwrite %s ?", fullpath);
      |                                                             ^~     ~~~~~~~~

bm_utils.c:409:25: note: ‘sprintf’ output between 28 and 283 bytes into a destination of size 256
  409 |                         sprintf(prompt, "Do you want to overwrite %s ?", fullpath);
      |                         ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
gcc -g -DDBNAME=\"dss\" -DLINUX -DVECTORWISE -DTPCH -DRNG_TEST -D_FILE_OFFSET_BITS=64   -c -o rnd.o rnd.c
rnd.c: In function ‘row_stop’:
rnd.c:131:83: warning: format ‘%d’ expects argument of type ‘int’, but argument 4 has type ‘long long int’ []8;;https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html#index-Wformat=-Wformat=]8;;]
  131 |                 fprintf(stderr, "\nSEED CHANGE: seed[%d].usage = %d\n",
      |                                                                  ~^
      |                                                                   |
      |                                                                   int
      |                                                                  %lld
  132 |                         i, Seed[i].usage);
      |                            ~~~~~~~~~~~~~
      |                                   |
      |                                   long long int

rnd.c: In function ‘dump_seeds’:
rnd.c:154:38: warning: format ‘%ld’ expects argument of type ‘long int’, but argument 3 has type ‘long long int’ []8;;https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html#index-Wformat=-Wformat=]8;;]
  154 |                         printf("%d(%ld):\t%ld\n", i, Seed[i].nCalls, Seed[i].value);
      |                                    ~~^               ~~~~~~~~~~~~~~
      |                                      |                      |
      |                                      long int               long long int
      |                                    %lld
rnd.c:154:45: warning: format ‘%ld’ expects argument of type ‘long int’, but argument 4 has type ‘long long int’ []8;;https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html#index-Wformat=-Wformat=]8;;]
  154 |                         printf("%d(%ld):\t%ld\n", i, Seed[i].nCalls, Seed[i].value);
      |                                           ~~^                        ~~~~~~~~~~~~~
      |                                             |                               |
      |                                             long int                        long long int
      |                                           %lld
gcc -g -DDBNAME=\"dss\" -DLINUX -DVECTORWISE -DTPCH -DRNG_TEST -D_FILE_OFFSET_BITS=64   -c -o print.o print.c
print.c: In function ‘dbg_print’:
print.c:138:36: warning: format ‘%ld’ expects argument of type ‘long int’, but argument 3 has type ‘int’ []8;;https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html#index-Wformat=-Wformat=]8;;]
  138 |                 fprintf(target, "%ld.%02ld", dollars, cents);
      |                                  ~~^         ~~~~~~~
      |                                    |         |
      |                                    long int  int
      |                                  %d
print.c:138:42: warning: format ‘%ld’ expects argument of type ‘long int’, but argument 4 has type ‘int’ []8;;https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html#index-Wformat=-Wformat=]8;;]
  138 |                 fprintf(target, "%ld.%02ld", dollars, cents);
      |                                      ~~~~^            ~~~~~
      |                                          |            |
      |                                          long int     int
      |                                      %02d
gcc -g -DDBNAME=\"dss\" -DLINUX -DVECTORWISE -DTPCH -DRNG_TEST -D_FILE_OFFSET_BITS=64   -c -o load_stub.o load_stub.c
gcc -g -DDBNAME=\"dss\" -DLINUX -DVECTORWISE -DTPCH -DRNG_TEST -D_FILE_OFFSET_BITS=64   -c -o bcd2.o bcd2.c
gcc -g -DDBNAME=\"dss\" -DLINUX -DVECTORWISE -DTPCH -DRNG_TEST -D_FILE_OFFSET_BITS=64   -c -o speed_seed.o speed_seed.c
gcc -g -DDBNAME=\"dss\" -DLINUX -DVECTORWISE -DTPCH -DRNG_TEST -D_FILE_OFFSET_BITS=64   -c -o text.o text.c
gcc -g -DDBNAME=\"dss\" -DLINUX -DVECTORWISE -DTPCH -DRNG_TEST -D_FILE_OFFSET_BITS=64   -c -o permute.o permute.c
gcc -g -DDBNAME=\"dss\" -DLINUX -DVECTORWISE -DTPCH -DRNG_TEST -D_FILE_OFFSET_BITS=64   -c -o rng64.o rng64.c
gcc -g -DDBNAME=\"dss\" -DLINUX -DVECTORWISE -DTPCH -DRNG_TEST -D_FILE_OFFSET_BITS=64 -O -o dbgen build.o driver.o bm_utils.o rnd.o print.o load_stub.o bcd2.o speed_seed.o text.o permute.o rng64.o -lm
gcc -g -DDBNAME=\"dss\" -DLINUX -DVECTORWISE -DTPCH -DRNG_TEST -D_FILE_OFFSET_BITS=64   -c -o qgen.o qgen.c
In file included from qgen.c:41:
qgen.c: In function ‘qsub’:
tpcd.h:58:25: warning: zero-length gnu_printf format string []8;;https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html#index-Wformat-zero-length-Wformat-zero-length]8;;]
   58 | #define SET_DBASE       ""
      |                         ^~
qgen.c:197:38: note: in expansion of macro ‘SET_DBASE’
  197 |                         fprintf(ofp, SET_DBASE, db_name);
      |                                      ^~~~~~~~~
qgen.c: In function ‘main’:
qgen.c:456:34: warning: format ‘%d’ expects argument of type ‘int’, but argument 3 has type ‘long int’ []8;;https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html#index-Wformat=-Wformat=]8;;]
  456 |                 sprintf(qname, "%d", SEQUENCE(snum, atoi(av[i])));
      |                                 ~^
      |                                  |
      |                                  int
      |                                 %ld
qgen.c:463:34: warning: format ‘%d’ expects argument of type ‘int’, but argument 3 has type ‘long int’ []8;;https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html#index-Wformat=-Wformat=]8;;]
  463 |                 sprintf(qname, "%d", SEQUENCE(snum, i));
      |                                 ~^
      |                                  |
      |                                  int
      |                                 %ld
gcc -g -DDBNAME=\"dss\" -DLINUX -DVECTORWISE -DTPCH -DRNG_TEST -D_FILE_OFFSET_BITS=64   -c -o varsub.o varsub.c
gcc -g -DDBNAME=\"dss\" -DLINUX -DVECTORWISE -DTPCH -DRNG_TEST -D_FILE_OFFSET_BITS=64 -O -o qgen build.o bm_utils.o qgen.o rnd.o varsub.o text.o bcd2.o permute.o speed_seed.o rng64.o -lm
TPC-H Population Generator (Version 2.17.2)
Copyright Transaction Processing Performance Council 1994 - 2010

In [4]:
!ls polars-tpch/data/tables/*

customer.tbl  nation.tbl  part.tbl	region.tbl
lineitem.tbl  orders.tbl  partsupp.tbl	supplier.tbl

In [5]:
# generating parquet files with header from the above .tbl files
!cd polars-tpch; PATH_TABLES=data/tables SCALE_FACTOR=10.0 python -m scripts.prepare_data_pyarrow

Processing table: customer
Processing table: lineitem
Processing table: nation
Processing table: orders
Processing table: part
Processing table: partsupp
Processing table: region
Processing table: supplier

In [6]:
!ls polars-tpch/data/tables/*

customer.parquet  nation.parquet  part.parquet	    region.parquet
customer.tbl	  nation.tbl	  part.tbl	    region.tbl
lineitem.parquet  orders.parquet  partsupp.parquet  supplier.parquet
lineitem.tbl	  orders.tbl	  partsupp.tbl	    supplier.tbl

## Checking Evaluation Environments

In [7]:
import platform, psutil
print("="*30, "Evaluation Environment Information", "="*30)
print(f'platform: {platform.system()}')
print(f'architecture: {platform.machine()}')
print(f'processor: {platform.processor()}')
print(f'cpu: {psutil.cpu_count()}')

============================== Evaluation Environment Information ==============================
platform: Linux
architecture: x86_64
processor: x86_64
cpu: 48

In [8]:
!nvidia-smi

Wed Dec 18 12:29:49 2024
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 520.61.05    Driver Version: 520.61.05    CUDA Version: 11.8     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla V100-PCIE...  Off  | 00000000:86:00.0 Off |                    0 |
| N/A   50C    P0    41W / 250W |  32510MiB / 32768MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|    0   N/A  N/A   1307739      C   python                            702MiB |
|    0   N/A  N/A   1311548      C   ...pids-24.12/bin/python3.11      806MiB |
|    0   N/A  N/A   1312213      C   ...pids-24.12/bin/python3.11      806MiB |
|    0   N/A  N/A   1312817      C   ...pids-24.12/bin/python3.11      806MiB |
+-----------------------------------------------------------------------------+

##  Defining Query

In [9]:
import os
import datetime
from linetimer import CodeTimer

# REF: https://www.tpc.org/TPC_Documents_Current_Versions/pdf/TPC-H_v3.0.1.pdf#page=33
def q3(datapath):
    m_name = getattr(pd.__spec__.loader, "fast_lib", pd.__name__).split(".")[0]
    
    # to avoid some incompatibility issues in cuDF pandas
    dt_cons = datetime.datetime if m_name == "cudf" else datetime.date

    with CodeTimer(name=f"Overall execution of q3 using {m_name}", unit="s"):    
        (
            pd.read_parquet(os.path.join(datapath, "customer.parquet"))
              .merge(pd.read_parquet(os.path.join(datapath, "orders.parquet")), 
                     left_on="c_custkey", right_on="o_custkey")
              .merge(pd.read_parquet(os.path.join(datapath, "lineitem.parquet")), 
                     left_on="o_orderkey", right_on="l_orderkey")
              .pipe(lambda df: df[df["c_mktsegment"] == "BUILDING"])
              .pipe(lambda df: df[df["o_orderdate"] < dt_cons(1995, 3, 15)])
              .pipe(lambda df: df[df["l_shipdate"] > dt_cons(1995, 3, 15)])
              .assign(revenue=lambda df: df["l_extendedprice"] * (1 - df["l_discount"]))
              .groupby(["l_orderkey", "o_orderdate", "o_shippriority"], as_index=False)
              .agg({"revenue": "sum"})[["l_orderkey", "revenue", "o_orderdate", "o_shippriority"]]
              .sort_values(["revenue", "o_orderdate"], ascending=[False, True])
              .reset_index(drop=True)            
              .head(10)
              .to_parquet(os.path.join(datapath, f"{m_name}_q3_result.parquet"))      
        )

In [10]:
import os
import datetime
from linetimer import CodeTimer

def optimized_q3(datapath):
    m_name = getattr(pd.__spec__.loader, "fast_lib", pd.__name__).split(".")[0]
    
    # to avoid some incompatibility issues in cuDF pandas    
    dt_cons = datetime.datetime if m_name == "cudf" else datetime.date

    with CodeTimer(name=f"Overall execution of optimized_q3 using {m_name}", unit="s"):
        # load only required columns from respective tables
        req_customer_cols = ["c_custkey", "c_mktsegment"] # (2/8)
        req_lineitem_cols = ["l_orderkey", "l_shipdate", "l_extendedprice", "l_discount"] #(4/16)
        req_orders_cols = ["o_custkey", "o_orderkey", "o_orderdate", "o_shippriority"] #(4/9)
        customer = pd.read_parquet(os.path.join(datapath, "customer.parquet"), columns = req_customer_cols)
        lineitem =  pd.read_parquet(os.path.join(datapath, "lineitem.parquet"), columns = req_lineitem_cols)
        orders =  pd.read_parquet(os.path.join(datapath, "orders.parquet"), columns = req_orders_cols)
    
        # advanced-filter: to reduce scope of “customer” table to be processed
        f_cust = customer[customer["c_mktsegment"] == "BUILDING"]

        # advanced-filter: to reduce scope of “orders” table to be processed
        f_ord = orders[orders["o_orderdate"] < dt_cons(1995, 3, 15)]

        # advanced-filter: to reduce scope of “lineitem” table to be processed
        f_litem = lineitem[lineitem["l_shipdate"] > dt_cons(1995, 3, 15)]

        (
            f_cust.merge(f_ord, left_on="c_custkey", right_on="o_custkey")
                  .merge(f_litem, left_on="o_orderkey", right_on="l_orderkey")
                  .assign(revenue=lambda df: df["l_extendedprice"] * (1 - df["l_discount"]))
                  .groupby(["l_orderkey", "o_orderdate", "o_shippriority"], as_index=False)
                  .agg({"revenue": "sum"})[["l_orderkey", "revenue", "o_orderdate", "o_shippriority"]]
                  .sort_values(["revenue", "o_orderdate"], ascending=[False, True])
                  .reset_index(drop=True)
                  .head(10)
                  .to_parquet(os.path.join(datapath, f"{m_name}_opt_q3_result.parquet"))
        )

In [11]:
datapath = "polars-tpch/data/tables/scale-10.0"

##  Native-pandas

In [12]:
import pandas as pd # native pandas

In [13]:
q3(datapath)

Code block 'Overall execution of q3 using pandas' took: 215.46805 s

In [14]:
optimized_q3(datapath)

Code block 'Overall execution of optimized_q3 using pandas' took: 11.13378 s

##  FireDucks-pandas

In [15]:
%load_ext fireducks.pandas  
import pandas as pd  # fireducks.pandas

In [16]:
q3(datapath)

Code block 'Overall execution of q3 using fireducks' took: 1.68996 s

In [17]:
optimized_q3(datapath)

Code block 'Overall execution of optimized_q3 using fireducks' took: 1.71522 s

In [18]:
%unload_ext fireducks.pandas

##  cuDF-pandas

In [19]:
%load_ext cudf.pandas
import pandas as pd # cudf pandas

In [20]:
q3(datapath)

Code block 'Overall execution of q3 using cudf' took: 26.78503 s

In [21]:
optimized_q3(datapath)

Code block 'Overall execution of optimized_q3 using cudf' took: 0.75979 s

##  Result-verification

In [22]:
r1 = pd.read_parquet(os.path.join(datapath, "pandas_q3_result.parquet"))
r2 = pd.read_parquet(os.path.join(datapath, "pandas_opt_q3_result.parquet"))
r3 = pd.read_parquet(os.path.join(datapath, "fireducks_q3_result.parquet"))
r4 = pd.read_parquet(os.path.join(datapath, "fireducks_opt_q3_result.parquet"))
r5 = pd.read_parquet(os.path.join(datapath, "cudf_q3_result.parquet"))
r6 = pd.read_parquet(os.path.join(datapath, "cudf_opt_q3_result.parquet"))

In [23]:
r1

   l_orderkey      revenue o_orderdate  o_shippriority
0     4791171  440715.2185  1995-02-23               0
1    46678469  439855.3250  1995-01-27               0
2    23906758  432728.5737  1995-03-14               0
3    23861382  428739.1368  1995-03-09               0
4    59393639  426036.0662  1995-02-12               0
5     3355202  425100.6657  1995-03-04               0
6     9806272  425088.0568  1995-03-13               0
7    22810436  423231.9690  1995-01-02               0
8    16384100  421478.7294  1995-03-02               0
9    52974151  415367.1195  1995-02-05               0

In [24]:
r2

   l_orderkey      revenue o_orderdate  o_shippriority
0     4791171  440715.2185  1995-02-23               0
1    46678469  439855.3250  1995-01-27               0
2    23906758  432728.5737  1995-03-14               0
3    23861382  428739.1368  1995-03-09               0
4    59393639  426036.0662  1995-02-12               0
5     3355202  425100.6657  1995-03-04               0
6     9806272  425088.0568  1995-03-13               0
7    22810436  423231.9690  1995-01-02               0
8    16384100  421478.7294  1995-03-02               0
9    52974151  415367.1195  1995-02-05               0

In [25]:
r3

   l_orderkey      revenue o_orderdate  o_shippriority
0     4791171  440715.2185  1995-02-23               0
1    46678469  439855.3250  1995-01-27               0
2    23906758  432728.5737  1995-03-14               0
3    23861382  428739.1368  1995-03-09               0
4    59393639  426036.0662  1995-02-12               0
5     3355202  425100.6657  1995-03-04               0
6     9806272  425088.0568  1995-03-13               0
7    22810436  423231.9690  1995-01-02               0
8    16384100  421478.7294  1995-03-02               0
9    52974151  415367.1195  1995-02-05               0

In [26]:
r4

   l_orderkey      revenue o_orderdate  o_shippriority
0     4791171  440715.2185  1995-02-23               0
1    46678469  439855.3250  1995-01-27               0
2    23906758  432728.5737  1995-03-14               0
3    23861382  428739.1368  1995-03-09               0
4    59393639  426036.0662  1995-02-12               0
5     3355202  425100.6657  1995-03-04               0
6     9806272  425088.0568  1995-03-13               0
7    22810436  423231.9690  1995-01-02               0
8    16384100  421478.7294  1995-03-02               0
9    52974151  415367.1195  1995-02-05               0

In [27]:
r5

   l_orderkey      revenue o_orderdate  o_shippriority
0     4791171  440715.2185  1995-02-23               0
1    46678469  439855.3250  1995-01-27               0
2    23906758  432728.5737  1995-03-14               0
3    23861382  428739.1368  1995-03-09               0
4    59393639  426036.0662  1995-02-12               0
5     3355202  425100.6657  1995-03-04               0
6     9806272  425088.0568  1995-03-13               0
7    22810436  423231.9690  1995-01-02               0
8    16384100  421478.7294  1995-03-02               0
9    52974151  415367.1195  1995-02-05               0

In [28]:
r6

   l_orderkey      revenue o_orderdate  o_shippriority
0     4791171  440715.2185  1995-02-23               0
1    46678469  439855.3250  1995-01-27               0
2    23906758  432728.5737  1995-03-14               0
3    23861382  428739.1368  1995-03-09               0
4    59393639  426036.0662  1995-02-12               0
5     3355202  425100.6657  1995-03-04               0
6     9806272  425088.0568  1995-03-13               0
7    22810436  423231.9690  1995-01-02               0
8    16384100  421478.7294  1995-03-02               0
9    52974151  415367.1195  1995-02-05               0

##  Cleanup

In [29]:
!rm -rf polars-tpch/data/tables